body {
    width: 400px;
    height: 500;
    background-color: black;
}
header {
    background-color: lightgray;
    padding: 1em;
    border-bottom: 10px solid #61c902;
}

img {
    width: 100%;
}

audio {
    width: 100%;
    margin-top: 15em;

}